@function values($min-value, $max-value, $min-viewport, $max-viewport) {
  $min-width-value: $min-value / 1px;
  $max-width-value: $max-value / 1px;
  $min-viewport-value: $min-viewport / 1px;
  $max-viewport-value: $max-viewport / 1px;

  @return calc(
    #{$min-width-value}px + (#{$max-width-value} - #{$min-width-value}) *
      (
        (100vw - #{$min-viewport-value}px) /
          (#{$max-viewport-value} - #{$min-viewport-value})
      )
  );
}

body {
  margin: 0;
}

//font-size: values(16px, 24px, 393px, 1180px);

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 60px;

  @media (min-width: 1100px) and (max-width: 1600px) {
    max-width: values(
      1000px,
      1300px,
      1100px,
      1600px
    ); // менше більше, менше більше
  }

  @media (min-width: 767px) and (max-width: 1100px) {
    max-width: values(715px, 1000px, 767px, 1100px);
  }

  @media (min-width: 375px) and (max-width: 767px) {
    max-width: values(345px, 715px, 375px, 767px);
  }

  .header {
    font-family: "Space Grotesk", sans-serif;
    &__navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__logo {
        display: flex;
        img {
          @media (min-width: 375px) and (max-width: 767px) {
            width: values(23px, 36px, 375px, 767px);
          }
        }

        .header__text {
          margin: 0;
          margin-left: 14px;
          font-weight: 500;

          @media (min-width: 375px) and (max-width: 767px) {
            font-size: values(28px, 32px, 375px, 767px);
          }
        }
      }
      &__links {
        display: flex;
        gap: 40px;
        align-items: center;
        font-size: 20px;

        @media (min-width: 1100px) and (max-width: 1600px) {
          gap: values(20px, 40px, 1100px, 1600px);
        }

        @media (max-width: 1100px) {
          display: none;
        }

        a {
          text-decoration: none;
          color: #000000;
          font-weight: 400;
        }
        &-button {
          padding: 20px 35px;
          border: 1px solid #191a23;
          border-radius: 14px;
          background-color: transparent;
          font-size: 20px;
          font-family: "Space Grotesk", sans-serif;

          @media (min-width: 1100px) and (max-width: 1600px) {
            padding: values(16px, 20px, 1100px, 1600px)
              values(20px, 35px, 1100px, 1600px);
          }
        }
      }
      &__mobile {
        display: none;

        @media (max-width: 1100px) {
          display: flex;
        }
      }
    }
  }

  .main {
    &__section {
      display: flex;
      justify-content: space-between;
      margin-top: 70px;

      @media (min-width: 430px) and (max-width: 1600px) {
        margin-top: values(
          40px,
          70px,
          375px,
          1600px
        ); // менше більше, менше більше
      }
      &__text {
        font-family: "Space Grotesk", sans-serif;
        align-items: flex-start;
        max-width: 531px;
        display: flex;
        flex-direction: column;
        gap: 35px;

        @media (min-width: 1100px) and (max-width: 1600px) {
          gap: values(25px, 35px, 1100px, 1600px); // менше більше, менше більше
          max-width: values(
            477px,
            531px,
            1100px,
            1600px
          ); // менше більше, менше більше
        }

        @media (min-width: 900px) and (max-width: 1100px) {
          gap: values(18px, 25px, 900px, 1100px); // менше більше, менше більше

          max-width: values(
            400px,
            477px,
            900px,
            1100px
          ); // менше більше, менше більше
        }
        @media (max-width: 900px) {
          max-width: 100%;
          gap: 0px;
        }
        &-head {
          font-size: 60px;
          font-weight: 500;
          line-height: 76px;

          @media (min-width: 1100px) and (max-width: 1600px) {
            font-size: values(54px, 60px, 1100px, 1600px);
            line-height: values(69px, 76px, 1100px, 1600px);
          }

          @media (min-width: 767px) and (max-width: 1100px) {
            font-size: values(43px, 54px, 767px, 1100px);
            line-height: values(62px, 69px, 767px, 1100px);
          }

          @media (min-width: 375px) and (max-width: 767px) {
            font-size: values(42px, 43px, 375px, 767px);
            line-height: values(55px, 62px, 375px, 767px);
          }
        }
        &-desc {
          font-size: 20px;
          font-weight: 400;

          @media (min-width: 375px) and (max-width: 767px) {
            font-size: values(16px, 20px, 375px, 767px);
            line-height: values(24px, 28px, 375px, 767px);
          }

          @media screen and (max-width: 900px) {
            margin-bottom: 40px;
          }
        }
        &-btn {
          padding: 20px 35px;
          background-color: #191a23;
          font-family: Space Grotesk;
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          text-align: center;
          color: #ffffff;
          border-radius: 14px;
        }
      }
      &__mobile-img {
        display: none;
        @media screen and (max-width: 900px) {
          display: flex;
          min-width: 361px;
          margin: 10px 0 20px 0;
        }
        img {
          width: 100%;
        }
      }
      &__img {
        max-width: 600px;

        @media screen and (max-width: 900px) {
          display: none;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
